/*Halyna Berdyk*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

:root {
    --secondary-color: #505155;
    --main-color: #ffffff;
    --main-font-family:'Roboto', sans-serif;
    --secondary-font-family: 'Playfair Display', serif;
}

.info {
    background-color: var(--main-color);
}

.info-instruction {
    background-image: url("../img/section-bg.jpg");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.info h2 {
    color: #6f7380;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.info h2::before {
    content: "一";
    color: #f51400;
}

.basic-info p {
    font-family: var(--secondary-font-family);
    font-size: 45px;
    color: var(--secondary-color);
}

.blue {
    color: #14a9ee;
}

.general-info p {
    font-family: var(--main-font-family);
    font-size: 19px;
    color: var(--secondary-color);
}

.instruction img {
    width:10%;
}

.instruction h3 {
    font-family: var(--main-font-family);
    font-size: 24px;
    color: #232428;
}

.instruction p {
    font-family: var(--main-font-family);
    font-size: 15px;
    color: var(--secondary-color);
}
/*Halyna Berdyk*/

/*Andrii*/
.testimonials {
    background-image: url("../img/testimonials-bg.png");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonials::before {
    content: "一";
    Color: red;
}
#testimonials {
    font-family: 'Roboto', sans-serif;    
    font-size: 12px;
    color: var(--secondary-color);
    text-align: center;
}
.experience {
font-family: 'Playfair Display', serif;
font-size: 34px;
color: var(--secondary-color);
text-align: center;
}
.reviews {
    font-family: 'Roboto', sans-serif; 
    font-size: 19px;
    color: var(--secondary-color);
   text-align: center;
}
.name {
    font-family: 'Roboto', sans-serif; 
    font-size: 22px;
    color: #232428;
    text-align: center;
}
.feedback {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #707070;
    text-align: center;
}
.date {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
}

.border {
    width: 25%;
    border-width: 10px;
    border-style: solid;
    border-radius: 60%;
    border-color: #f5f5f5;
}

/* Andrii*/
/*Bohdana*/
 
.gray-text::before {
content: "一 ";
color: red;
 }
 .gray-text 
 {
     color: #6F7380;
     font-size: small;
     text-transform: uppercase;
     text-align: left;
     font-family: 'roboto', sans-serif;
     font-weight: normal;
 }
   
   .main-container {
       padding-top: 60px;
       padding-left: 60px;
       padding-bottom: 60px;
       padding-right: 60px;
       background-color: #ffffff;
    
   }
 @media (min-width: 610px){
     main .main-container{
         display: grid;
         grid-gap: 50px;
         grid-template-columns: 1fr 1fr ;
         
         

     }
    }
    @media (min-width: 800px) {
         main .main-container{
         grid-template-columns: 1fr 1fr 1fr;
         

     }

    }
 .smaller-image{
     width: 350px;
     text-align: center;
 }
 .title{
     font-weight: bold;
     line-height: normal;
     text-align: left;
     font-size: 45px;
     color: #505155;
     font-family: 'playfair display', serif ;
     }
    
 #describe{
     color:#505155;
     line-height: 0.8cm;
     text-align: left;
    font-size: 19px;
    font-family: 'roboto', sans-serif;

 }
 #describe-two{
     color:#505155;
     line-height: 0.8cm;
     text-align: left;
    font-size: 19px;
    font-family: 'roboto', sans-serif;

 }
 #describe-three{
     color:#505155;
     line-height: 0.8cm;
     text-align: left;
    font-size: 19px;
    font-family: 'roboto', sans-serif;
 }

 @media (min-width: 610px) {
     main .nav {
         display: flex;
        }
        main .numbers {
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: space-around;

        }
     
     }

        .numbers {
       list-style-type: none;
       color:#232428;
       font-size: 60px;
       font-family: 'roboto', sans-serif;
       text-align: center;
       
   }
   @media (min-width: 610px) {
       main .beauty{
           display: flex;
           flex-direction: row;
           flex: 1;
           justify-content: space-around;
       }
   }
     .beauty {
         padding-bottom: 60px;
         color:#505155;
         list-style: none;
         font-size: 15px;
         text-align: left;
         font-family: 'roboto', sans-serif;
         
     }
     /*Bohdana*/

     /* Star of Viktor`s part */

    .tour-booking{
    max-width: 80%;
    margin: auto;
    padding: 100px 0 100px 0;
    color: #505155;
    font-family: Roboto;
    }

    .text-content-of-heading {
        max-width: 70%;
        font-size: 19px;
    }

    .red-color{
        color: #EE2E14;
    }

    .heading-of-booking{
        font-family: Playfair;
        font-size: 36px;
        color: #505155;
        padding: 20px 0 20px 0;
        margin: 0;
    }

    .text-content-of-heading p{
        margin: 0 0 40px 0;
        line-height: 2;
        font-weight: normal;
    }

    .city-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .city-nav a{
        text-decoration: none;
        color: #969799; 
        font-size: 17px;
        font-weight: bold;
        margin: 0 70px 0 0;
        transition: color 1s;
    }

    .city-nav a:hover{
        color: black;
    }


    .contents-display{
        border-top: 1px solid #969799;
        padding-top: 20px;
    }

    .contents-display img{
        max-width: 100%; 
        height: 100%; 
    }

    .city{
        display: flex;
        justify-content: space-around;
        flex-direction: column; 
        line-height: 1.5;
    }

    .photo{
        display: flex;
        flex-direction: column;
        max-width: 100%; 
        max-height: 400px;
        /* display: block; */
    }

    .text-content{
        max-width: 100%;
    }

    /* З моїх тестів одного медіа-запиту достатньо */

    @media (min-width: 800px){
        
        .tour-booking{
            max-width: 80%;
        }

        .city{
            display: flex;
            justify-content: space-between;
            flex-direction: row; 
            line-height: 1.5;
        } 


        .text-content{
            max-width: 37%;
            align-self: center;
            padding-left: 20px;
        }

        .photo{
        max-width: 50%; 
        max-height: 800px;
        display: block;
        }

    } 

    .text-content .point{
        font-size: 13px;
        font-weight: bold;
        color: #6F7380;
    }


    .text-content .red-color{
        font-size: 19px;
        font-weight: bold;
    }

    .text-content .hotel-name {
        font-size: 15px;
        font-weight: bold;
        padding: 0 0 0 15%;
    }

    .text-content .tour-description{
        font-size: 17px;
        color: #707070;
    }

    .item img{
        height: 25px;
        width: 25px;
        padding-right: 10px;
    }

    .item{
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-size: 15px;
        padding: 10px 0 10px 0;
    }

    #contacts-btn{
        display: inline-block;
        margin: 10% 0 0 0;
        background-color: #15a9ee;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        padding: 10px 32px 10px 32px;
        /* Вирішив додати маленьку анімацію, щоб виглядало не так сумно (стало щє сумніше -_-)*/
        transition: padding 0.5s ease-in-out .1s;
        transition: color 1s;
    }

    /* Довго грав з тим, щоб margin при ховері не працював.
    Як можна побачити - програв :( */

    #contacts-btn:hover{
        background-color: #000000; 
        padding: 10px 35px 13px 35px;
    }

/* End of Victor's Part */

/*Den*/
#beautiful {
    color:white;
    font-size:30px;
}
#landscapes {
    color:gray;
    font-size:30px;
}
.beautiful-landscapes{
    margin-bottom:10px;
}
.carousel {
    width:300px;
    max-height:300px;
}
.norway-beauty{
    font-family:'Roboto', serif;
}
.contacts{
    background-image:url(/img/norway-berg.png);
    background-size:cover;
}
#contacts {
    font-family: 'Roboto', sans-serif;    
    font-size: 12px;
    color: var(--secondary-color);
    text-align: center;
}
.contacts h2 {
    color: #6f7380;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.contacts h2::before {
    content: "一";
    color: #f51400;
}
#book-the-journey{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
}
#request-a-quote{
    background-color:#00BFFF;

}