/* Berdyk Halyna*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap'); 

:root {
    --menu-color: #f7f7f7;
    --main-color: #ffffff;
    --before-heading-line: #EE2E14;
    --button-hover-color: #01292b;
    --main-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Playfair Display', serif;
}

body {
    max-width: 980px;
    margin: auto;
}

header {
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
}

.logo>img {
    width: 270px;
    padding: 30px;
}

.main-menu {
    display: none;
}

.main-menu a {
    color: var(--menu-color);
    font-size: 14px;
    font-family: var(--main-font-family);
    text-decoration: none;
    font-weight: 500;
}

.main-menu li {
    list-style: none;
    text-align: right;
}

.main-menu a:hover {
    text-shadow: 0px 0px 10px var(--menu-color);
    font-weight: bold;
}

#subtitle {
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-size: 13px;
    font-weight: 500;
    padding-left: 30px;
    margin: 0;
    padding-top: 50px;
}

#subtitle::before {
    content: "一 ";
    color: var(--before-heading-line);
}

.banner {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.banner h1 {
    font-family: var(--logo-font-family);
    font-size: 70px;
    color: var(--main-color);
    margin-left: 30px;
    font-weight: 600;
    margin-top: 0px;
}

.banner iframe {
    border-width: 10px;
    border-color: var(--main-color);
    border-style: solid;
    max-width: 350px;
    max-height: 200px;
    margin-left: 30px;
}

.trip {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1;
    padding: 30px;
}

.trip p:first-child {
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-size: 17px;
    font-weight: 500;
}

.trip p:nth-child(2) {
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-size: 13px;
}

.trip p:nth-last-child(2) {
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-size: 13px;
}

.trip a {
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}

.trip a:hover {
    text-decoration: underline;
    color: var (--main-color);
}

.trip a::after {
    content: "   →";
    color: var (--main-color);
    pointer-events: none;
}

@media (min-width: 610px) {
    .banner iframe {
        max-width: 600px;
        max-height: 500px;
    }
}

@media (min-width: 800px) {
    .logo {
        display: block;
    }

    header nav {
        display: flex;
    }

    .main-menu {
        display: flex;
        justify-content: space-evenly;
        flex: 1;
        align-items: center;
        padding: 30px;
    }

    .button a::after {
        content: "   →";
        color: var(--main-color);
    }

    .button a {
        padding: 0.35em 1.2em;
        border: 0.1em solid var(--main-color);
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.12em;
        color: var(--main-color);
        text-align: center;
        transition: color 0.7s;
        background-color: transparent;
    }

    .button a:hover {
        color: var(--button-hover-color);
        background-color: var(--main-color);
        cursor: pointer;
    }

    .button a:hover::after {
        color: var(--button-hover-color);
    }

    #subtitle {
        font-size: 18px;
    }

    .banner h1 {
        font-size: 125px;
    }

    .promo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 50px;
    }

    .banner iframe {
        max-width: 500px;
        max-height: 400px;
    }
}

/* Berdyk Halyna*/