/*Halyna Berdyk*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

:root {
    --secondary-color: #505155;
    --main-color: #ffffff;
    --main-font-family:'Roboto', sans-serif;
    --secondary-font-family: 'Playfair Display', serif;
}

.info {
    background-color: var(--main-color);
}

.info-instruction {
    background-image: url("../img/section-bg.jpg");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.info h2 {
    color: #6f7380;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.info h2::before {
    content: "一";
    color: #f51400;
}

.basic-info p {
    font-family: var(--secondary-font-family);
    font-size: 45px;
    color: var(--secondary-color);
}

.blue {
    color: #14a9ee;
}

.general-info p {
    font-family: var(--main-font-family);
    font-size: 19px;
    color: var(--secondary-color);
}

.instruction img {
    width:10%;
}

.instruction h3 {
    font-family: var(--main-font-family);
    font-size: 24px;
    color: #232428;
}

.instruction p {
    font-family: var(--main-font-family);
    font-size: 15px;
    color: var(--secondary-color);
}
/*Halyna Berdyk*/

/*Andrii*/
.testimonials {
    background-image: url("../img/testimonials-bg.png");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonials::before {
    content: "一";
    Color: red;
}
#testimonials {
    font-family: 'Roboto', sans-serif;    
    font-size: 12px;
    color: var(--secondary-color);
    text-align: center;
}
.experience {
font-family: 'Playfair Display', serif;
font-size: 34px;
color: var(--secondary-color);
text-align: center;
}
.reviews {
    font-family: 'Roboto', sans-serif; 
    font-size: 19px;
    color: var(--secondary-color);
   text-align: center;
}
.name {
    font-family: 'Roboto', sans-serif; 
    font-size: 22px;
    color: #232428;
    text-align: center;
}
.feedback {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #707070;
    text-align: center;
}
.date {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
}

.border {
    width: 25%;
    border-width: 10px;
    border-style: solid;
    border-radius: 60%;
    border-color: #f5f5f5;
}

/* Andrii*/
/*Bohdana*/
 
.gray-text::before {
content: "一 ";
color: red;
 }
 .gray-text 
 {
     color: #6F7380;
     font-size: small;
     text-transform: uppercase;
     text-align: left;
     font-family: 'roboto', sans-serif;
     font-weight: normal;
 }
   
   .main-container {
       padding-top: 60px;
       padding-left: 60px;
       padding-bottom: 60px;
       padding-right: 60px;
       background-color: #ffffff;
    
   }
 @media (min-width: 610px){
     main .main-container{
         display: grid;
         grid-gap: 50px;
         grid-template-columns: 1fr 1fr ;
         
         

     }
    }
    @media (min-width: 800px) {
         main .main-container{
         grid-template-columns: 1fr 1fr 1fr;
         

     }

    }
 .smaller-image{
     width: 350px;
     text-align: center;
 }
 .title{
     font-weight: bold;
     line-height: normal;
     text-align: left;
     font-size: 45px;
     color: #505155;
     font-family: 'playfair display', serif ;
     }
    
 #describe{
     color:#505155;
     line-height: 0.8cm;
     text-align: left;
    font-size: 19px;
    font-family: 'roboto', sans-serif;

 }
 #describe-two{
     color:#505155;
     line-height: 0.8cm;
     text-align: left;
    font-size: 19px;
    font-family: 'roboto', sans-serif;

 }
 #describe-three{
     color:#505155;
     line-height: 0.8cm;
     text-align: left;
    font-size: 19px;
    font-family: 'roboto', sans-serif;
 }

 @media (min-width: 610px) {
     main .nav {
         display: flex;
        }
        main .numbers {
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: space-around;

        }
     
     }

        .numbers {
       list-style-type: none;
       color:#232428;
       font-size: 60px;
       font-family: 'roboto', sans-serif;
       text-align: center;
       
   }
   @media (min-width: 610px) {
       main .beauty{
           display: flex;
           flex-direction: row;
           flex: 1;
           justify-content: space-around;
       }
   }
     .beauty {
         padding-bottom: 60px;
         color:#505155;
         list-style: none;
         font-size: 15px;
         text-align: left;
         font-family: 'roboto', sans-serif;
         
     }
     /*Bohdana*/
/*Den*/
#beautiful {
    color:white;
    font-size:30px;
}
#landscapes {
    color:gray;
    font-size:30px;
}
.beautiful-landscapes{
    margin-bottom:10px;
}
.carousel {
    width:300px;
    max-height:300px;
}
.norway-beauty{
    font-family:'Roboto', serif;
}
.contacts{
    background-image:url(/img/norway-berg.png);
    background-size:cover;
}
#contacts {
    font-family: 'Roboto', sans-serif;    
    font-size: 12px;
    color: var(--secondary-color);
    text-align: center;
}
.contacts h2 {
    color: #6f7380;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.contacts h2::before {
    content: "一";
    color: #f51400;
}
#book-the-journey{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
}
#request-a-quote{
    background-color:#00BFFF;

}