/*Halyna Berdyk*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

:root {
    --text-color: #505155;
    --main-color: #ffffff;
    --main-font-family:'Roboto', sans-serif;
    --logo-font-family: 'Playfair Display', serif;
}

.info {
    background-color: var(--main-color);
}

.info-instruction {
    background-image: url("../img/section-bg.jpg");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.info h2 {
    color: #6f7380;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.info h2::before {
    content: "一";
    color: #f51400;
}

.basic-info p {
    font-family: var(--logo-font-family);
    font-size: 45px;
    color: var(--text-color);
}

.blue {
    color: #14a9ee;
}

.general-info p {
    font-family: var(--main-font-family);
    font-size: 19px;
    color: var(--text-color);
}

.instruction img {
    width:10%;
}

#h3 {
    font-family: var(--main-font-family);
    font-size: 24px;
    color: #232428;
}

.instruction p {
    font-family: var(--main-font-family);
    font-size: 15px;
    color: var(--text-color);
}
/*Halyna Berdyk*/
/*Bohdana*/
.gray-text::before {
content: "一 ";
color: red;
 }
 .gray-text 
 {
     color: #6F7380;
     font-size: small;
     text-transform: uppercase;
     text-align: left;
     font-family: 'roboto', sans-serif;

 }
 .smaller-image{
     width: 400px;
 }
 .title{
     font-weight: bold;
     text-align: left;
     font-size: 45px;
     color: #505155;
     text-transform: uppercase;
     text-align: left;
     font-family: 'playfair display', serif ;
     }
 #described{
     color:#505155;
     text-align: left;
    font-size: 19px;
    line-height: 1.7rem;
    font-family: 'roboto', sans-serif;

 }
   .numbers{
       font-weight: bold;
       color:#232428;
       font-size: 60px;
       line-height: 1.rem;
       text-align: left;
       font-family: 'roboto', sans-serif;
   }
     .beauty {
         color:#505155;
         list-style: none;
         font-size: 15px;
         line-height: 1,6.rem;
         text-align: left;
         font-family: 'roboto', sans-serif;
     }
     /*Bohdana*/