.red-color{
    color: #ee2e16
}
.tour-booking a{
    text-decoration: none;
    color: #969799;
}
#contacts-btn{
    background-color: #15a9ee;
    color: #fff;
}
.tour-booking{
    color: #505155;
    font-family: Roboto;
}

.heading-of-booking{
    font-family: Playfair Display;
}
