:root {
    --menu-color: #f7f7f7;
    --main-color: #ffffff;
    --secondary-color: #2f2f35;
    --modal-bg-color: rgba(0, 0, 0, 0.5);
    --main-font-family: "Roboto", sans-serif;
    --menu-font-family: "Playfair Display", serif;
  }
  
  body {
    max-width: 980px;
    margin: auto;
  }
  
  modal.menu {
    background: var(--secondary-color);
  }
  
  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .logo a {
    text-decoration: none;
    color: var(--menu-color);
    padding-top: 30px;
    font-size: 25px;
    padding-right: 30px;
    text-align: right;
  }
  
  .logo-cross > img {
    width: 188px;
    padding: 40px;
    padding-left: 30px;
  }
  
  .logo-cross a {
    font-size: 35px;
    color: var(--main-color);
    text-decoration: none;
    padding-top: 40px;
    padding-right: 30px;
  }
  
  .logo-cross a:hover {
    text-shadow: 0px 0px 10px #f33a3a;
    font-weight: bold;
  }
  
  .logo-cross {
    display: flex;
    justify-content: space-between;
  }
  
  .main-nav-menu a {
    color: var(--menu-color);
    font-size: 17px;
    font-family: var(--main-font-family);
    font-weight: 500;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .main-nav-menu li {
    list-style: none;
    line-height: 3;
  }
  
  .main-nav-menu a:hover {
    text-shadow: 0px 0px 10px #f7f7f7;
    font-weight: bold;
  }
  
  .button a::after {
    content: "   →";
    color: var(--main-color);
  }
  
  .button a {
    padding: 0.35em 1.2em;
    border: 0.1em solid var(--main-color);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: var(--main-color);
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
  }
  
  .button a:hover {
    color: var(--secondary-color);
    background-color: var(--main-color);
    cursor: pointer;
  }
  
  .button a:hover::after {
    color: var(--secondary-color);
  }
  
  .main-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 250px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--modal-bg-color);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
  }
  .modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }
  .modal-content {
    background-color: var(--secondary-color);
  }
  
  @media (min-width: 800px) {
   
    .logo {
        grid: none;
    }

    .logo a {
      display: none;
    }

  }
  